<script type="text/javascript">
    $(document).ready(function() {
        //$('#top_menu6').switchClass("menu_items", "activated_menu_item");
        $('#top_menu6').attr("class", "activated_menu_item");

        $('#sidebar').hcSticky({
            top: 20,
            bottomEnd: 100,
            wrapperClassName: 'sidebar-sticky'
        });


        // Cache selectors
        // topMenuHeight: serve para aumentar um espaço à pagina para o caso de se usar um menu fixo no topo da página
        var sideMenu = $("#sidebar"),
            //topMenuHeight = sideMenu.outerHeight()+20,
            topMenuHeight = 35,
        // All list items
            menuItems = sideMenu.find("a"),
        // Anchors corresponding to menu items
            scrollItems = menuItems.map(function(){
                var item = $($(this).attr("href"));
                if (item.length) { return item; }
            });

        // Bind click handler to menu items
        // so we can get a fancy scroll animation
        // AQUI deve-se subtrair a altura do topMenuHeight para causar o aumento do espaço: $(href).offset().top-topMenuHeight+1;
        menuItems.click(function(e){
            var href = $(this).attr("href"),
                offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
            $('html, body').stop().animate({
                scrollTop: offsetTop
            }, 500);
            e.preventDefault();
        });

        // Bind to scroll
        $(window).scroll(function(){
            // Get container scroll position
            var fromTop = $(this).scrollTop()+topMenuHeight;

            // Get id of current scroll item
            var cur = scrollItems.map(function(){
                if ($(this).offset().top < fromTop)
                    return this;
            });
            // Get the id of the current element
            cur = cur[cur.length-1];
            var id = cur && cur.length ? cur[0].id : "";
            // Set/remove active class
            menuItems
                    .parent().removeClass("active")
                    .end().filter("[href=#"+id+"]").parent().addClass("active");
        });

        $('.photogalery').cycle({
            fx: 'scrollup' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });
    });
</script>

<div id="page-banner">
    10ª à 13ª Classes
</div>

<div id="sidebar">
  <ul>
      <li><a href="#docentes">Docentes</a></li>
      <li><a href="#galeria">Galeria de Fotos</a></li>
      <li><a href="#projetos">Projectos</a></li>
      <li><a href="#servicos">Serviços</a></li>
  </ul>
</div>
<div id="sidebar-content">

  <h2 id="docentes">Docentes</h2>
  <p>É com muito orgulho que o Colégio Dois Talentos apresenta o elenco que toma conta dos mais crescidos escola.</p>

  <h2>Professor &lt;NOME DO PROF 1&gt;</h2>
  <p><%= image_tag("ao_flag.gif", height: "80px", width: "80px", style: "float:left; margin-right:5px;") %>
    O professor &lt;NOME DO PROF 1&gt; é licenciado em Direito pela Faculdade de Direito da Universidade Agostinho Neto
    de Luanda. Tem mais de 3 anos de experiência na área da docência, e leciona várias cadeiras da área do Direito.</p>
  <br/><br/>
  <h2>Professora &lt;NOME DO PROF 2&gt;</h2>
  <p><%= image_tag("ao_flag.gif", height: "80px", width: "80px", style: "float:left; margin-right:5px;") %>
    A professora &lt;NOME DO PROF 2&gt; é licenciada em História pela Faculdade de Letras da Universidade Agostinho Neto
    de Luanda. Tem mais de 7 anos de experiência como funcionária pública no Ministério das Finanças. Leciona cadeiras da
    área de História.</p>
  <br/><br/>
  <h2>Professor &lt;NOME DO PROF 3&gt;</h2>
  <p><%= image_tag("ao_flag.gif", height: "80px", width: "80px", style: "float:left; margin-right:5px;") %>
    O professor &lt;NOME DO PROF 3&gt; é licenciado em Engenharia Informática pela Faculdade de Ciências da Universidade
    de Lisboa. Tem mais de 6 anos de experiência em programação web, e leciona cadeiras da área da Informática.</p>
  <br/><br/>
  <h2>Professora &lt;NOME DO PROF 4&gt;</h2>
  <p><%= image_tag("ao_flag.gif", height: "80px", width: "80px", style: "float:left; margin-right:5px;") %>
    A professora &lt;NOME DO PROF 4&gt; é licenciada em Arquitetura pela Faculdade de Belas Artes da Universidade
    Lusíada de Angola. Tem mais de 3 anos de experiência em consultoria de projetos de Arquitetura, e leciona cadeiras da
    área de artes plásticas e geografia.</p>
  <br/><br/><br/><br/><br/><br/><br/><br/>


  <h2 id="galeria">Galeria de Fotos</h2>
  <p>As nossas estrelas do primeiro ano.</p>
  <div class="photogalery">
    <%= image_tag("panorama_historia_01.png", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("panorama_historia_02.png", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("panorama_historia_03.png", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("panorama_historia_04.png", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("panorama_historia_05.png", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("panorama_historia_06.png", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_01.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_02.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_03.jpg", height: "300px", width: "100%", align:  "center") %>
  </div>
  <br/><br/><br/><br/><br/><br/><br/><br/>


  <h2 id="projetos">Projetos</h2>
  <p>Um dos projetos do Colégio Dois Talentos passa por proporcionar uma educação de excelência que seja acessível para
    a família tradicional Angolana.</p>
  <p>Também temos o projeto ABC, XYZ, etc...</p>
  <br/><br/><br/><br/><br/><br/><br/><br/>


  <h2 id="servicos">Serviços</h2>
  <p>Os principais serviços do Colégio Dois Talentos estão ligados à área de ensino. Proporcionamos aos nossos estudantes
    uma formação com bases sólidas para que eles fiquem bem preparados para os anos seguintes. Oferecemos também formações
    complementares nas áreas da informática, desporto, música e jogos didáticos para que os nossos estudantes possam
    descontrair com actividades saudáveis. Acreditamos, que com estas actividades complementares os estudantes irão sempre
    motivados para a escola, aumentando assim a sua capacidade para absorver os conhecimentos passados pelos seus professores.</p>
  <br/><br/><br/><br/><br/><br/><br/><br/>


</div>