<script type="text/javascript">
    $(document).ready(function() {
        //$('#top_menu2').switchClass("menu_items", "activated_menu_item");
        $('#top_menu2').attr("class", "activated_menu_item");

        $('#sidebar').hcSticky({
            top: 20,
            bottomEnd: 100,
            wrapperClassName: 'sidebar-sticky'
        });


        // Cache selectors
        // topMenuHeight: serve para aumentar um espaço à pagina para o caso de se usar um menu fixo no topo da página
        var sideMenu = $("#sidebar"),
            //topMenuHeight = sideMenu.outerHeight()+20,
            topMenuHeight = 35,
        // All list items
            menuItems = sideMenu.find("a"),
        // Anchors corresponding to menu items
            scrollItems = menuItems.map(function(){
                var item = $($(this).attr("href"));
                if (item.length) { return item; }
            });

        // Bind click handler to menu items
        // so we can get a fancy scroll animation
        // AQUI deve-se subtrair a altura do topMenuHeight para causar o aumento do espaço: $(href).offset().top-topMenuHeight+1;
        menuItems.click(function(e){
            var href = $(this).attr("href"),
                offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
            $('html, body').stop().animate({
                scrollTop: offsetTop
            }, 500);
            e.preventDefault();
        });

        // Bind to scroll
        $(window).scroll(function(){
            // Get container scroll position
            var fromTop = $(this).scrollTop()+topMenuHeight;

            // Get id of current scroll item
            var cur = scrollItems.map(function(){
                if ($(this).offset().top < fromTop)
                    return this;
            });
            // Get the id of the current element
            cur = cur[cur.length-1];
            var id = cur && cur.length ? cur[0].id : "";
            // Set/remove active class
            menuItems
                    .parent().removeClass("active")
                    .end().filter("[href=#"+id+"]").parent().addClass("active");
        });

        $('.photogalery').cycle({
            fx: 'shuffle' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });
    });
</script>

<div id="page-banner">
    Venha conhecer o nosso colégio...
</div>

<div id="sidebar">
  <ul>
      <li><a href="#quem_somos">Quem Somos</a></li>
      <li><a href="#galeria">Galeria de Fotos</a></li>
      <li><a href="#servicos">Serviços</a></li>
      <li><a href="#projetos">Projetos</a></li>
      <li><a href="#parcerias">Parcerias</a></li>
  </ul>
</div>
<div id="sidebar-content">

  <h2 id="quem_somos">Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
  <br/><br/><br/><br/><br/>


  <h2 id="galeria">Galeria de Fotos</h2>
  <p>Apresentamos em seguida algumas das fotografias que mostram o nosso percurso.</p>
  <div class="photogalery">
    <%= image_tag("historia_04.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_05.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_06.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_07.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_08.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_09.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_10.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_11.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_12.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("historia_13.jpg", height: "300px", width: "100%", align:  "center") %>
  </div>
  <br/><br/><br/><br/><br/>


  <h2 id="servicos">Serviços</h2>
  <p>Os principais serviços do Colégio Dois Talentos estão ligados à área de ensino. Proporcionamos aos nossos estudantes
  uma formação com bases sólidas para que eles fiquem bem preparados para os anos seguintes. Oferecemos também formações
  complementares nas áreas da informática, desporto, música e jogos didáticos para que os nossos estudantes possam
    descontrair com actividades saudáveis. Acreditamos, que com estas actividades complementares os estudantes irão sempre
  motivados para a escola, aumentando assim a sua capacidade para absorver os conhecimentos passados pelos seus professores.
  Além do ensino secundário o Colégio Dois Talentos possui cursos técnicos de Enfermagem, Informática e Contabilidade e Finanças.</p>
  <p>O colégio oferece os seguintes serviços:</p>
  <ol style="list-style-type: circle;">
    <li>Ensino Primário</li>
    <li>1º Ciclo - 5ª e 6ª</li>
    <li>2º Ciclo - 7ª, 8ª e 9ª</li>
    <li><span title="Inclui o Técnico-Profissional" style="cursor:help;">Ciclo Pré-Universitário</span> - 10ª, 11ª e 12ª (13º em alguns cursos)</li>
    <li>Biblioteca</li>
    <li>Cantina e Serviço de cafetaria</li>
    <li>Gabinete de coordenação pedagógica para cada nível de ensino</li>
    <li>Posto Médico</li>
    <li>Reprografia / Papelaria</li>
    <li>Secretaria de atendimento ao público de Segunda a Sexta-feira</li>
    <li>Transporte de Alunos</li>
  </ol>
  <p>Associado à área de ensino temos o serviço de <span class="italico">Portal Electrónico:</span></p>
  <ol style="list-style-type: circle;">
      <li>Se é Encarregado de Educação, o Portal Electrónico fornece-lhe várias informações sobre o seu educando, de
        forma fácil e permanentemente atualizada. Entre diversas informações escolares disponíveis neste sítio, poderá
        encontrar aqui as classificações do seu educando, as faltas, as marcações de testes, o horário escolar e o
        calendário para o corrente ano letivo.</li>
      <li>Se és Aluno, podes utilizar o Portal Electrónico para consultares as últimas datas de testes, conteúdos
        programáticos, fichas de exercícios, horários, e muito mais.</li>
      <li>http://portalelectronico.doistalentos.org</li>
  </ol>
  <br/><br/><br/><br/><br/>


  <h2 id="projetos">Projetos</h2>
  <p>Um dos projetos do Colégio Dois Talentos passa por proporcionar uma educação de excelência que seja acessível para
    a família tradicional Angolana.</p>
  <p>O Colégio Dois Talentos também possui a missão de levar a cabo projectos de âmbito Social, virados para a
    escolarização e acompanhamento psicopedagógico de crianças fora do ensino escolar, através de palestras de
    sensibilização aos pais, realizadas trimestralmente nas áreas suburbanas da cidade do Huambo. Outrossim, e na
    sequência, o Colégio Dois Talentos oferecerá uma bolsa de estudo integral para a conclusão do Ensino Primário.</p>
  <br/><br/><br/><br/><br/>


  <h2 id="parcerias">Parcerias</h2>
  <p>O Colégio Dois Talentos tem como principais parceiros:</p>
  <ul>
    <li><%= image_tag("ao_flag.gif", height: "50px", width: "80px") %>
      A empresa Habi<span style="color:red;">Tec</span> do Huambo</li>
    <li><%= image_tag("ao_flag.gif", height: "50px", width: "80px") %>
      O pavilhão GimnoDesportivo de São João</li>
    <li><%= image_tag("ao_flag.gif", height: "50px", width: "80px") %>
      A Mediateca do Huambo.</li>
  </ul>
  <br/><br/><br/><br/><br/>

</div>