<script type="text/javascript">
    $(document).ready(function() {
        $('.slideshow').cycle({
            fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });

        $('#top_menu1').attr("class", "activated_menu_item");
    });
</script>

<div id="page">

  <div class="slideshow">
    <%= image_tag("Banner_1.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_2.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_3.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_4.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_5.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_6.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_7.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_8.jpg", height: "300px", width: "100%", align:  "center") %>
  </div>

</div>
<div id="page-banner">
    Para saber é preciso aprender...
</div>
<div id="page-content">
  <h2>Bem vindo ao Colégio Dois Talentos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
</div>