<script type="text/javascript">
    $(document).ready(function() {
        $('.slideshow').cycle({
            fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });

        $('#top_menu1').attr("class", "activated_menu_item");
    });
</script>

<div id="page">

  <div class="slideshow">
    <%= image_tag("Banner_1.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_2.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_3.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_4.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_5.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_6.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_7.jpg", height: "300px", width: "100%", align:  "center") %>
    <%= image_tag("Banner_8.jpg", height: "300px", width: "100%", align:  "center") %>
  </div>

</div>
<div id="page-banner" style="font-size: 44px;">
    <!--Para saber é preciso aprender...-->
    Educar é semear com sabedoria e colher com paciência.
    <!-- Estilo para funcionar com duas linhas -->
    <!-- style="font-size: 40px; line-height: inherit;" -->
    <!-- <br/><span style="padding-left: 650px;"><i>(Augusto Cury)</i></span> -->
</div>
<div id="page-content">
  <h2>Bem vindo ao Colégio Dois Talentos</h2>
  <p>O Colégio Dois Talentos é um estabelecimento de ensino particular a funcionar na província do Huambo desde 2015,
    tendo sempre presente as orientações curriculares emanadas pelo Ministério da Educação da República de Angola.
    Deste modo, o CDT, propõe-se criar uma imagem nacional de excelência educativa impondo-se como uma Instituição de
    referência a nível pedagógico, organizativo e científico, pautando-se nos princípios da igualdade, respeito e
    solidariedade ao próximo.</p>
</div>